In [ ]:
import requests
from bs4 import BeautifulSoup

In [ ]:
web_url = "https://www.bedtime.com"
response = requests.get(web_url)
soup = BeautifulSoup(response.content, 'html.parser')
story_links = soup.find("div", {"id": "div_block-1335-2728"})
category_urls = [link["href"] for link in story_links]

In [ ]:
category_urls

['https://www.bedtime.com/category/stories/adventure/',
 'https://www.bedtime.com/category/stories/animal-stories/',
 'https://www.bedtime.com/category/stories/bedtime-stories-by-kids/',
 'https://www.bedtime.com/category/stories/christmas',
 'https://www.bedtime.com/category/stories/fables-bedtime-com/',
 'https://www.bedtime.com/category/stories/fairy-tales/',
 'https://www.bedtime.com/category/stories/funny/',
 'https://www.bedtime.com/category/stories/history/',
 'https://www.bedtime.com/category/stories/mysteries/',
 'https://www.bedtime.com/category/stories/scary/',
 'https://www.bedtime.com/category/stories/science/',
 'https://www.bedtime.com/category/stories/sports/',
 'https://www.bedtime.com/category/stories/warm/']

In [ ]:
clss=[]
for url in category_urls:
  cls=url.replace('https://www.bedtime.com/category/stories/','')
  cls=cls.replace('/','')
  print(cls)
  clss.append(cls)

adventure
animal-stories
bedtime-stories-by-kids
christmas
fables-bedtime-com
fairy-tales
funny
history
mysteries
scary
science
sports
warm

In [ ]:
all_url=[]
for i in range(len(category_urls)):
  response = requests.get(category_urls[i])
  soup = BeautifulSoup(response.content, 'html.parser')
  story_links = soup.find_all("a", {"class": "ct-link"})
  story_urls = [link["href"] for link in story_links]
  for s_url in story_urls:
    all_url.append({'url':s_url,'class':clss[i]})

In [ ]:
print(len(all_url))
for j in reversed(range(len(all_url))):
  if all_url[j]['url']=='https://www.bedtime.com/':
    del all_url[j]
print(len(all_url))

402
390

In [ ]:
#checking if there are no repeated stories
new_urls = []
for item in all_url:
    if item not in new_urls:
        new_urls.append(item)
print(new_urls)

In [ ]:
new_urls[0]

{'url': 'https://www.bedtime.com/on-the-go-with-zibo/', 'class': 'adventure'}

In [ ]:
stories=[]

for link in new_urls:
    # print(link)
    refined_text=[]
    story_response = requests.get(link['url'])
    story_soup = BeautifulSoup(story_response.content, 'html.parser')
    # print(story_soup)
    story_text = story_soup.find("span", {"class": "ct-span oxy-stock-content-styles"})
    
    try:
      p_tags = story_text.find_all('p')
      for p in p_tags:
        refined_text.append(p.get_text())
    except:
        refined_text=[]
    story_title=story_soup.find("span", {"class": "ct-span"}).text
    #print(story_text,'url',url)
    stories.append({'title':story_title,'story':refined_text,'class':link['class'],'url':link['url']})

In [ ]:
len(stories)

390

In [ ]:
#deletining rows with empty stories
stories1=stories
for k in reversed(range(len(stories1))):
  if len(stories1[k]['story']) < 5:
    del stories1[k]

In [ ]:
len(stories1)

311

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.DataFrame(stories1)

In [ ]:
import os
path= '/content/drive/MyDrive/news dataset/children stories/scraped/'

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
os.chdir(path)

In [ ]:
ls

stories.csv

In [ ]:
df.to_csv('stories.csv', index=False)

In [ ]:
df

,title,story,class,url
0,On the go with Zibo,[Zibo is a little zebra. You know what a zebra...,adventure,https://www.bedtime.com/on-the-go-with-zibo/
1,A Walk in the Woods,[He tapped the surface of the pool with the fo...,adventure,https://www.bedtime.com/a-walk-in-the-woods/
2,"A penguin, A black egg and an island","[At dawn I heard a knock on the door, it was S...",adventure,https://www.bedtime.com/a-penguin-a-island-and...
3,To the Princess,"[Some Years Ago, I was a young man and I was o...",adventure,https://www.bedtime.com/to-the-princess/
4,The Ultimate Quest,"[""Urrggh"", Owen grunted, he was in the castle ...",adventure,https://www.bedtime.com/the-ultimate-quest/
...,...,...,...,...
306,Hard Decision,"[There was a Siberian husky, her name was Sibe...",warm,https://www.bedtime.com/hard-decision/
307,HAMILTON THE HAMSTER,[By Paula Moore\nOnce upon a time there was a ...,warm,https://www.bedtime.com/hamilton-the-hamster/
308,The Lion and a Mouse,[One day a mouse was in search of food in the ...,warm,https://www.bedtime.com/the-lion-and-a-mouse/
309,Friendship,"[""When is he coming?"" Joseph mumbled, looking ...",warm,https://www.bedtime.com/friendship/
310,CALLING OF THE LOONS,[Morning's stillness was broken by the strange...,warm,https://www.bedtime.com/calling-of-the-loons/